/.idea/shelf/Uncommitted_changes_before_Update_at_09_07_2024_12_05_[Changes]/favicon-16x16.png
/.idea/shelf/Uncommitted_changes_before_Update_at_09_07_2024_12_05_[Changes]/favicon-32x32.png
/.idea/shelf/Uncommitted_changes_before_Update_at_09_07_2024_12_05_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Update_at_09_07_2024_12_05__Changes_.xml
/.idea/workspace.xml
